<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="targetBean" class="aop.case1.TargetBean" />

	<bean id="aopAdvisor" class="aop.case1.AopAdvisor" />

	<aop:config>
		<aop:pointcut id="aopPointcut" expression="execution(* aop.case1..*.*(..))" />
	</aop:config>

	<aop:config>
		<aop:advisor advice-ref="aopAdvisor" pointcut-ref="aopPointcut" />
	</aop:config>
</beans>
