<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="case4Clz6" class="aop.case4.Case4Clz6" />
	
	<aop:aspectj-autoproxy/>
	
	<bean id="aopAspect1" class="aop.case4.AopAspect1"/>
	<bean id="aopAspect2" class="aop.case4.AopAspect2"/>
</beans>
